<% include partials/header %>


<div class="container">
        
    <header class="jumbotron">
        <div class="container">
            <h1>Overview page</h1>    
            <p>See your overall and individual academic performance for 
            all your modules.</p>
            <p>
                <a class="btn btn-primary btn-large" href="/overview/new">Add module</a>        
            </p>
        </div>
    </header>
    
    <div class="row">
        <div class="col-lg-12">
            <h3>Modules</h3>
        </div>
    </div>
    
    <div class="row">
        <% modules.forEach(function(module) { %>
            <div class="col-md-3 col-sm-6">
                <h4><%= module.name %></h4>
            </div>
        <% }); %>    
    </div>
    
    
    
    
    
    <% include partials/footer %>

    
</div>    
